.hero {
    background-image: 
    linear-gradient(to right, rgba(0, 0, 0, .9), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .9),), 
    url('../../../../public/assets/img/epiguitar.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}