.hero {
    background-image: 
    linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2)), 
    url(../../../../public/assets/img/marinaTowers.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}